<li class="nav-item dropdown">
    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
       class="nav-link{% if request.user.groups.all.count > 1 %} dropdown-toggle{% endif %}">
        {{ request.session.group.descripcion }}
    </a>
    {% if request.user.groups.all.count > 1 %}
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow"
            style="left: 0px; right: inherit;">
            {% for g in request.user.groups.all %}
                {% if g.id != request.session.group.id %}
                    <li><a href="{% url 'session:user_change_group' g.id %}"
                           class="dropdown-item">{{ g.descripcion }} </a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</li>