{% extends 'login/base.html' %}

{% block content-box %}
    <p class="login-box-msg" style="font-size: 16px; margin-top: 10px">Reseteo de contraseña</p>
    <form action=".." method="post">
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ form.username }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fas fa-envelope"></i>
                    Enviar
                </button>
            </div>
        </div>
        <div class="row" style="justify-content: center; font-size: 13px; margin-top: 6px;">
            Si desea volver al login da click &nbsp<a href="{% url 'session:login' %}"> aqui</a>
        </div>
    </form>

    <script>
        $(function () {
            $('form').on('submit', function (event) {
                event.preventDefault();
                const form = this;
                const parameters = new FormData(form);
                submit_with_ajax(
                    window.location.pathname, parameters
                    , 'Confirmación'
                    , '¿Estas seguro de resetear tu contraseña?'
                    , function callback(data) {
                        message_info("Un link de reset ha sido enviado a su correo de forma exitosa",
                            function () {
                                location.href = '{% url 'session:login' %}';
                            });
                    }, function cancelOrError() {
                        $.unblockUI();
                    }
                );
            });
        });
    </script>
{% endblock %}

{% block errors %}

{% endblock %}